.searchBarInput {
  border-radius: 2em;
  padding: 1.4em;
  width: 85%;
  font-size: 1.2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.searchBar svg {
  height: 1.6em;
  position: relative;
  right: 5em;
  top: 0.2em;
}
