.carouselsection {
  width: 35%;
  height: 25%;
  margin: auto;
}

.carouselsection div h1 {
  padding: 1em 2em;
}

.carouselsection div h2 {
  font-weight: 500;
}

.loadersection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.whitetext p,
.whitetext h1,
.whitetext h2,
.whitetext h3 {
  color: black;
}

.darktext p,
.darktext h1,
.darktext h2,
.darktext h3 {
  color: var(--theme-white);
}
